@{
    ViewData["Title"] = "Rodzaje herbat";
}
<h1 class="header center teal-text">Rodzaje herbat</h1>
<br />

<div class="section-container">
    <div class="columns image">
        <img src="/Pictures/HerbataCzarna.jpg" class="responsive" />
    </div>
    <div class="columns content">
        <div class="content-container">
            <h5>Herbata czarna</h5>
            <p>
                Herbata czarna to popularny napój, pochodzący z rośliny Camellia sinensis. Różni się od innych herbat przede wszystkim procesem produkcji, w którym liście są całkowicie zwiędłe, a następnie fermentowane, nadając im ciemniejszy kolor i intensywny smak. Charakteryzuje się wyrazistym smakiem o nutach słodyczy i lekkiej goryczki, a po zaparzeniu wypełnia przestrzeń bogatym aromatem z kwiatowymi, owocowymi i korzennymi akcentami. Popularne odmiany czarnej herbaty to Darjeeling, Assam, Earl Grey, Ceylon i English Breakfast. Zawiera kofeinę, ale w mniejszych ilościach niż kawa. Herbata czarna ma liczne korzyści zdrowotne dzięki swojemu bogactwu antyoksydantów, które wspierają zdrowie serca, układ odpornościowy i trawienie. O jej smaku i aromacie decydują także regiony uprawy i sposoby produkcji, co sprawia, że każdy miłośnik herbaty czarnej może znaleźć w niej coś wyjątkowego.
            </p>
            <center>
                <a href="@Url.Action("Sklep", "Home")" class="waves-effect waves-light btn-large #4caf50 green">
                    Kup teraz <i class="material-icons right">shopping_basket</i>
                </a>
            </center>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="columns content">
        <div class="content-container">
            <h5>Herbata biała</h5>
            <p>
                Herbata biała to najszlachetniejszy rodzaj herbaty, delikatna i subtelna w smaku oraz aromacie. Pochodzi z młodych pączków i liści Camellia sinensis, minimalnie przetwarzanych, co zachowuje ich naturalne cechy. Napar ma jasny, czasem przezroczysty kolor. Smak jest subtelny, czasem słodkawy lub kwiatowy. Herbata biała jest bogata w antyoksydanty i związki przeciwbakteryjne. Cenią ją miłośnicy herbaty za wyjątkową jakość i unikalny smak. Doskonała dla osób poszukujących delikatnych naparów. Prawdziwa ucztą dla zmysłów. Herbata biała jest doceniana przez miłośników herbaty za swoją delikatność, wysoką jakość i subtelny smak. To idealny wybór dla osób, które chcą doświadczyć wyjątkowych aromatów i smaków herbaty, nieco odmiennych od tych występujących w innych rodzajach. Dla wielu herbata biała stanowi prawdziwą ucztę dla zmysłów, którą można delektować się z największą przyjemnością.
            </p>
            <center>
                <a href="@Url.Action("Sklep", "Home")" class="waves-effect waves-light btn-large #4caf50 green">
                    Kup teraz <i class="material-icons right">shopping_basket</i>
                </a>
            </center>
        </div>
    </div>
    <div class="columns image">
        <img src="~/Pictures/HerbataBiala.jpg" class="responsive" />
    </div>
</div>

<div class="section-container">
    <div class="columns image">
        <img src="~/Pictures/HerbataCzerwona.jpg" class="responsive" />
    </div>
    <div class="columns content">
        <div class="content-container">
            <h5>Herbata czerwona (pu-erh)</h5>
            <p>
                Herbata czerwona, znana również jako pu-erh, to jedna z najbardziej charakterystycznych i wyjątkowych odmian herbaty. Pochodzi z chińskiej prowincji Yunnan i wyróżnia się nie tylko swoim smakiem, ale także specyficznym procesem produkcji.
                Herbata czerwona jest poddawana specjalnemu procesowi fermentacji i dojrzewaniu, który może trwać od kilku miesięcy do kilku lat. W wyniku tego procesu herbata uzyskuje ciemny kolor i bogaty, głęboki smak. Czerwona herbata charakteryzuje się głównie pełnym, ziemistym smakiem z nutami drewna, dymu, ziemi i czasem odrobiną słodyczy.
                Ze względu na długi proces fermentacji, herbata czerwona zyskuje na swojej wartości z upływem czasu i jest często wysoko ceniona przez miłośników herbaty. Wiele herbat pu-erh jest produkowanych w formie herbaty sformatowanej w postaci płaskich dysków lub cegiełek, które mogą być przechowywane i dojrzewać przez długie lata.
                Czerwona herbata jest także ceniona za swoje potencjalne korzyści zdrowotne. W tradycyjnej medycynie chińskiej uważa się, że pu-erh może pomagać w utrzymaniu zdrowego układu trawiennego, obniżać poziom cholesterolu i wspierać funkcje wątroby.
            </p>
            <center>
                <a href="@Url.Action("Sklep", "Home")" class="waves-effect waves-light btn-large #4caf50 green">
                    Kup teraz <i class="material-icons right">shopping_basket</i>
                </a>
            </center>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="columns content">
        <div class="content-container">
            <h5>Herbata Żółta</h5>
            <p>

                Herbata żółta to rzadko spotykany rodzaj herbaty, ceniony za swoją wyjątkową delikatność i subtelność. Podobnie jak herbata biała, żółta herbata pochodzi z młodych pączków i najbardziej delikatnych liści rośliny Camellia sinensis. Proces produkcji jest bardziej skomplikowany niż przy innych odmianach herbaty, co nadaje jej charakterystyczny żółty kolor.
                Herbata żółta jest poddawana krótkiemu procesowi fermentacji, ale dłuższemu niż w przypadku herbaty białej. W wyniku tego procesu liście nabierają lekkiej, złocisto-żółtej barwy. Smak herbaty żółtej jest delikatny, lekko słodkawy i wyrafinowany, często z subtelnymi nutami kwiatowymi.
                Cechą charakterystyczną tej herbaty jest także proces "duszenia" liści, który pozwala na równomierne oddanie swojego smaku. Herbata żółta jest znacznie rzadsza na rynku niż inne odmiany, co czyni ją wyjątkową i ciekawą propozycją dla miłośników herbaty szukających czegoś nietypowego.
                Podobnie jak inne rodzaje herbaty, herbata żółta ma potencjalne korzyści zdrowotne ze względu na obecność antyoksydantów i innych cennych substancji. Jej subtelność i delikatność sprawiają, że jest doskonałą opcją dla osób ceniących łagodne i wykwintne napary.
            </p>
            <center>
                <a href="@Url.Action("Sklep", "Home")" class="waves-effect waves-light btn-large #4caf50 green">
                    Kup teraz <i class="material-icons right">shopping_basket</i>
                </a>
            </center>
        </div>
    </div>
    <div class="columns image">
        <img src="~/Pictures/HerbataZolta.jpg" class="responsive" />
    </div>
</div>

<div class="section-container">
    <div class="columns image">
        <img src="~/Pictures/HerbataZielona.jpg" class="responsive" />
    </div>
    <div class="columns content">
        <div class="content-container">
            <h5>Herbata zielona</h5>
            <p>
                Herbata zielona to jedna z najstarszych i najbardziej cenionych odmian herbaty na świecie. Pochodzi również z rośliny Camellia sinensis, podobnie jak inne rodzaje herbaty, ale różni się procesem produkcji. Liście zielonej herbaty są natychmiast zatrzymywane od fermentacji przez poddanie działaniu wysokiej temperatury, co pozwala zachować ich naturalny kolor i właściwości.
                Smak zielonej herbaty jest charakterystyczny, orzeźwiający i lekko trawiasty, czasami z nutami kwiatowymi lub orzechowymi. Herbata ta jest doceniana za swoje działanie pobudzające, dzięki zawartości kofeiny, ale w mniejszej ilości niż w kawie, co sprawia, że jest delikatniejsza dla układu nerwowego.
                Herbata zielona jest bogata w antyoksydanty, takie jak katechiny, które przyczyniają się do ochrony organizmu przed działaniem szkodliwych wolnych rodników. Regularne spożywanie zielonej herbaty może wspomagać zdrowie serca, układu odpornościowego i mieć korzystny wpływ na poziom cholesterolu.
                Istnieje wiele różnych odmian i smaków herbaty zielonej, które zależą od regionu uprawy, warunków pogodowych, metody suszenia i obróbki liści. Zarówno miłośnicy naparów naturalnych, jak i tych z dodatkami, znajdą coś dla siebie w szerokiej gamie zielonych herbat.
                Podsumowując, herbata zielona to wyjątkowy napój o orzeźwiającym smaku i wielu korzyściach zdrowotnych. Jej uniwersalność sprawia, że jest lubiana przez wielu miłośników herbaty na całym świecie.
            </p>
            <center>
                <a href="@Url.Action("Sklep", "Home")" class="waves-effect waves-light btn-large #4caf50 green">
                    Kup teraz <i class="material-icons right">shopping_basket</i>
                </a>
            </center>
        </div>
    </div>
</div>

<div class="section-container">
    <div class="columns content">
        <div class="content-container">
            <h5>Herbata oloong</h5>
            <p>
                Oolong, nazywana również wulong, to półfermentowana odmiana herbaty, której produkcja znajduje się pomiędzy herbata zieloną a czarną. Jest to specjalny rodzaj herbaty, który pochodzi również z rośliny Camellia sinensis. Proces produkcji oolonga polega na delikatnym zwiędnięciu i częściowej fermentacji liści, co nadaje jej charakterystyczny smak i aromat.
                Smak oolonga jest bogaty i zróżnicowany, zależnie od stopnia fermentacji. Może mieć nuty owocowe, kwiatowe, drzewne lub orzechowe, czasami łącząc cechy zarówno herbaty zielonej, jak i czarnej. Jest to napój wyjątkowo wyważony, który cieszy podniebienia swoją różnorodnością smaków.
                Oolong ma też zróżnicowane właściwości zdrowotne, podobnie jak inne herbaty. Zawiera antyoksydanty i kofeinę, która działa pobudzająco. W tradycyjnej medycynie chińskiej uważa się, że picie oolonga może pomóc w utrzymaniu zdrowego układu trawiennego i wspierać spalanie tłuszczu.
                Ponieważ oolong jest dostępny w różnych odmianach, każdy miłośnik herbaty może znaleźć coś dla siebie. Od delikatnych, lekko fermentowanych oolongów po bardziej wyraziste i ciemniejsze odmiany, wybór jest szeroki i fascynujący.
                Herbata oolong to prawdziwa uczta dla smakoszy herbaty, którzy doceniają różnorodność i subtelną elegancję tego wyjątkowego napoju. Jej unikalny smak i charakter sprawiają, że jest jednym z najbardziej cenionych i poszukiwanych rodzajów herbaty na całym świecie.
            </p>
            <center>
                <a href="@Url.Action("Sklep", "Home")" class="waves-effect waves-light btn-large #4caf50 green">
                    Kup teraz <i class="material-icons right">shopping_basket</i>
                </a>
            </center>
        </div>
    </div>
    <div class="columns image">
        <img src="~/Pictures/HerbataOolong.jpg" class="responsive" />
    </div>
</div>

<div class="section-container">
    <div class="columns image">
        <img src="~/Pictures/HerbataAromatyzowana.jpg" class="responsive" />
    </div>
    <div class="columns content">
        <div class="content-container">
            <h5>Herbata aromatyzowana</h5>
            <p>
                Herbaty aromatyzowane to różnorodne mieszanki herbaty, które łączą naturalną bazę herbaty (czarnej, zielonej, oolong lub białej) z dodatkami, takimi jak owoce, kwiaty, przyprawy lub olejki eteryczne. Proces aromatyzacji nadaje herbacie nowe, interesujące smaki i zapachy, czyniąc ją wyjątkową i atrakcyjną dla różnych gusta.
                Herbaty aromatyzowane występują w wielu różnych wariantach i kompozycjach, co pozwala cieszyć się bogactwem smaków. Można znaleźć herbaty z aromatami cytrusowymi, malinowymi, brzoskwiniowymi, jaśminowymi, miętowymi, waniliowymi, imbirowymi, cynamonowymi i wieloma innymi. Wybór jest naprawdę szeroki, co pozwala każdemu znaleźć coś odpowiedniego dla siebie.
                Te herbaty są doskonałym sposobem na eksplorację różnorodnych smaków i aromatów, przynosząc radość podniebieniu i zmysłom. Są idealnym wyborem dla osób, które cenią nie tylko wyjątkowy smak herbaty, ale także chcą doświadczyć nowych i ciekawych kombinacji smakowych.
                Warto zauważyć, że jakość herbat aromatyzowanych może się różnić, więc warto wybierać renomowanych producentów, aby cieszyć się autentycznymi i wysokiej jakości aromatami. Herbaty aromatyzowane cieszą się popularnością na całym świecie i są idealną opcją dla osób, które lubią odkrywać nowe smaki i aromaty w swojej ulubionej herbaty.
            </p>
            <center>
                <a href="@Url.Action("Sklep", "Home")" class="waves-effect waves-light btn-large #4caf50 green">
                    Kup teraz <i class="material-icons right">shopping_basket</i>
                </a>
            </center>
        </div>
    </div>
</div>



<button type="button" class="btn btn-success scroll-up-btn" onclick="goToTop()">
    Wróć na górę
</button>

<script>
    function goToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0; 
    }
    window.onscroll = function () { scrollFunction(); };

    function scrollFunction() {
        const scrollUpBtn = document.querySelector(".scroll-up-btn");
        if (document.body.scrollTop > 1200 || document.documentElement.scrollTop > 1200) {
            scrollUpBtn.style.display = "block";
        } else {
            scrollUpBtn.style.display = "none";
        }
    }
</script>