@model IEnumerable<Firma.Data.Models.CMS.CMSAktualnosc>
@{
    ViewData["Title"] = "Aktualności";
}
<h3>Aktualności</h3>
<p>
    <a asp-action="Create" class="btn btn-outline-success">Dodaj</a>
</p>

<table class="table table-hover">
    <thead>
        <tr class="table-success">
            <th scope="col">
                @Html.DisplayNameFor(model => model.LinkTytul)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Tytul)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Tresc)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Pozycja)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkTytul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tytul)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tresc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pozycja)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdAktualnosci" class="btn btn-outline-success">Edytuj</a>
                    <a asp-action="Delete" asp-route-id="@item.IdAktualnosci" class="btn btn-outline-success">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
